@if(!showList) {
  <div>
    <div>
      <h1>Users info</h1>
    </div>
    <div>
      @if(errorMessage) {
        <div class = "alert-message error with-icon">
          <p>{{errorMessage}}</p>
        </div>
      }
      <form (ngSubmit)="onSubmit()" #userForm="ngForm" (submit)="userForm.reset()">
        <label for="username" style="display: block">Username*</label>
        <input id="username" [(ngModel)]="user.name" name="name" type="text"
               placeholder="Enter username" required #name="ngModel">
        @if(name.invalid && (name.dirty || name.touched)) {
          <div class="alert-message error with-icon">
            <p>Username is required</p>
          </div>
        }
        <br>

        @if(!update) {
          <label for="password" style="display: block">Password*</label>
          <input id="password" [(ngModel)]="user.passwordHash" name="passwordHash" type="password"
                 placeholder="Enter password" required #password="ngModel">

          @if(password.invalid && (password.dirty || password.touched)) {
            <div class="alert-message error with-icon">
              <p>Password is required</p>
            </div>
          }
          <br>
        }
        <label for="phone" style="display: block">Phone</label>
        <input id="phone" [(ngModel)]="user.phone" name="phone" type="text" placeholder="Enter phone">
        <br>

        <label for="email" style="display: block">Email*</label>
        <input id="email" [(ngModel)]="user.email" name="email" type="email"
               placeholder="Enter email" required email #email="ngModel">
        @if(email.invalid && (email.dirty || email.touched)) {
          <div class="alert-message error with-icon">
            @if(email.errors?.['required']) {
              <p>Email is required</p>
            }
            @if(email.errors?.['email']) {
              <p>Please enter a valid email address</p>
            }
          </div>
        }
        <br>

        <button class="form-button" type="submit" [disabled]="userForm.form.invalid"
        >{{update ? 'Update' : 'Create'}} user</button>
        @if(update) {
          <br>
          <button class="form-button" (click)="clickCancelButton(); userForm.reset()">Cancel</button>
        }
      </form>
    </div>

    <div>

      <form>
        <label for="findID">Find User by ID: </label>
        <input id="findID" [(ngModel)]="findID" name="findID" type="number" placeholder="ID for searching">
        <button (click)="clickFindByIDButton(findID!)">Search</button>
        <button (click)="clickCancelFindButton()">Clear</button>
      </form>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Packages</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          @for (user of users; track user.userID) {
            <tr>
              <td>{{user.userID}}</td>
              <td>{{user.name}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.email}}</td>
              <td>
                @if(user.packages?.length != 0) {
                  <button (click)="clickShowListButton(user.userID!)">Show</button>
                }
              </td>
              <td>
                <button (click)="clickUpdateButton(user)">Update</button>
                <span>|  </span>
                <button class="delete-button" (click)="clickDeleteButton(user.userID!)">Delete</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}
@else {
  <div>
    <div>
      <h1>{{user.name}} packages</h1>
    </div>
    <div>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Tracking Number</th>
          <th>User ID</th>
          <th>Weight</th>
          <th>Dimensions</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
          @for (pkg of user.packages; track pkg.packageID) {
            <tr>
              <td>{{pkg.packageID}}</td>
              <td>{{pkg.trackingNumber}}</td>
              <td>{{pkg.userID}}</td>
              <td>{{pkg.weight}}</td>
              <td>{{pkg.dimensions}}</td>
              <td>{{pkg.description}}</td>
            </tr>
          }
        </tbody>
      </table>
      <button class="form-button" (click)="clickHideListButton()">Back</button>
    </div>
  </div>
}
